[Desktop Entry]
Name=Layan-tweaked
X-KDE-PluginInfo-Author=HerrCrazi
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=contact@herrcrazi.ovh
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Layan Tweaked
X-KDE-PluginInfo-Version=1.0
